.noi-dung{
    display:inline;
}
.icon-dang-nhap {
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
    display: inline-flex;
  }
.icon-dang-nhap{
    justify-content: space-evenly;
    width: 120px;
}

.dang-nhap{
    text-align: center;
}
.icon-dang-nhap{
    margin: -7%;
}
  
  
.fa-facebook {
    background: #3B5998;
    color: white;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin: 6px 2px;
    border-radius: 50%;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin: 6px 2px;
    border-radius: 50%;
  }

  .fa-apple {
    background-color:black;
    color: white;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 6px 2px;
    border-radius: 50%;
  }

  .noi-dung{
    background-color:#CCFFFF;
    float:left;
    width:fit-content
    margin 30px 60px;
  }


  section .noi-dung{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}
section .noi-dung .form{
    width: 50%;
}


section .noi-dung .form h3{
     color: #607d8b;
     text-align: center;
     margin: 80px 0 10px;
     font-weight: 500;
 }

 .input-form{
    border-top:#3B5998;
 }


 
