#menubar ul{
    background:#FFFFCC;

}
#menubar ul li{
    display:inline-table;
    width: 80px;
    height: 40px;
    line-height: 40px;
}

#menubar ul li a:hover{
    background: white;
    color:black;
}

.material-symbols-outlined{
    color: yellow;
}

#logo img[src="https://cdn-icons-png.flaticon.com/512/185/185852.png"] {
    width: 29px;
    height: 29px;
    position: absolute;
    top: 21px;
    left: 97%;
  }


.avatar{
    position: relative;
}

.avatar{
    position:absolute;
    bottom: 250px;
    left: 1090px;
}

  
.Text{
    position:absolute;
    top: 450px;
}

.Link{
    position:absolute;
    bottom: -40%;
}

.button{
    position: fixed;
    bottom: 0%;
    right:3%;
}


.thanh-ten{
    background-color: grey;
    width: 150px;
    height: 100px;
    position: relative;
    float: left;
}
.thanh-ten{
    position: fixed;
}