:root {
    --mau-do: rgb(116, 136, 168);
}

.title {
    color: red;
}

body {
    background-color: aquamarine;
}

.div-image {
    border-bottom: 2px dashed red;
    width: 80%;
}

.icon-star {
    vertical-align: fixed;
    color: red;
}

ul li:first-child {
    color: red;
}


.radio-input:checked + label {
    color: red;
}

button span {
    vertical-align: middle;
}

.contact{
    border-top: 2px dashed red;
    width: 80%;
}